name: publish site
on:
  push:
    branches:
      - main  # あなたのメインブランチ名に合わせてください
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: |
          pip install mkdocs-material
          pip install mkdocs-table-reader-plugin
      - run: mkdocs gh-deploy --force
